* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table {
  background: black;
  color: white;
  margin: 0;
  padding: 0.25rem;
  border: 0.75rem tan solid;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.table > .community,
.table > .players {
  max-width: 100%;
  min-height: 8rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  overflow: auto hidden;
  padding: 0.3rem 0;
}
.table > .community div,
.table > .players div {
  flex: 0 0 auto;
}
.table hr {
  border: none;
  border-bottom: slategray 0.15rem dotted;
  margin: 0.3rem 0;
  padding: 0;
  width: 70%;
}

#add-player {
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
  z-index: 99;
}

.board {
  background: white;
  color: black;
  border: 0.25rem darkgray solid;
  margin: 0.3rem;
  padding: 3rem;
  display: grid;
  place-content: center;
  place-items: stretch;
  grid-gap: 0.3rem;
  box-sizing: content-box;
}
.board:first-child {
  margin-left: 0;
}
.board:last-child {
  margin-right: 0;
}
.board.player {
  grid: repeat(5, 6rem)/repeat(10, 6rem);
}
.board.player > :first-child {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 2rem;
}
.board.player > .remove {
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  place-self: center;
  grid-area: 2 / 1 / 3 / 2;
}
.board.player.player-1 {
  background: lightblue;
}
.board.player.player-2 {
  background: lightgreen;
}
.board.player.player-3 {
  background: salmon;
}
.board.player.player-4 {
  background: lightyellow;
}
.board.player.player-5 {
  background: lightsalmon;
}
.board.player.player-6 {
  background: plum;
}
.board.player.player-7 {
  background: tan;
}
.board.player.player-8 {
  background: ivory;
}
.board.action {
  grid-template-rows: repeat(2, 6rem);
  grid-auto-columns: 6rem;
  grid-auto-flow: column;
  background: lightgray;
}
.board.supply {
  grid: repeat(2, 6rem)/repeat(5, 8rem);
  background: lightslategray;
}

.supply:not(.board) {
  display: grid;
  grid-gap: 0;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0.25rem darkgray dashed;
}
.supply:not(.board) .title {
  font-size: 0.9rem;
  place-self: center end;
  grid-area: -2 / 1 / -1 / -1;
  text-transform: capitalize;
}
.supply:not(.board) .total {
  font-size: 0.9rem;
  place-self: center start;
  grid-area: -2 / 1 / -1 / -1;
}
.supply:not(.board) .total:empty::after {
  content: '0';
}
.board.supply .supply.widget:not(.board),
.board.supply .supply.material:not(.board) {
  grid-template-rows: repeat(42, 0.1rem) 1.25rem;
}
.board.supply .supply.tile:not(.board), .board.supply .supply.coin:not(.board) {
  grid-template-rows: repeat(105, 0.1rem) 1.25rem;
}
.board.supply .supply.widget:not(.board),
.board.supply .supply.material:not(.board), .board.supply .supply.coin:not(.board) {
  grid-template-columns: repeat(74, 0.1rem);
}
.board.supply .supply.tile:not(.board) {
  grid-template-columns: repeat(157, 0.1rem);
}
.board.player .supply.tile:not(.board), .board.player .supply.widget:not(.board),
.board.player .supply.material:not(.board), .board.player .supply.coin:not(.board) {
  grid-template-rows: repeat(42, 0.1rem) 1.25rem;
}
.board.player .supply.widget:not(.board),
.board.player .supply.material:not(.board) {
  grid-template-columns: repeat(118, 0.1rem);
}
.board.player .supply.tile:not(.board), .board.player .supply.coin:not(.board) {
  grid-template-columns: repeat(180, 0.1rem);
}
.board.supply .supply:not(.board).tile {
  grid-area: 1 / 1 / 3 / 3;
}
.board.player .supply:not(.board).tile {
  grid-area: 5 / 6 / 6 / 9;
}
.board.supply .supply:not(.board).widget {
  grid-area: 1 / 3 / 2 / 4;
}
.board.player .supply:not(.board).widget {
  grid-area: 5 / 9 / 6 / 11;
}
.board.supply .supply:not(.board).material {
  grid-area: 2 / 3 / 3 / 4;
}
.board.player .supply:not(.board).material {
  grid-area: 5 / 1 / 6 / 3;
}
.board.supply .supply:not(.board).coin {
  grid-area: 1 / 4 / 3 / 5;
}
.board.player .supply:not(.board).coin {
  grid-area: 5 / 3 / 6 / 6;
}
.supply:not(.board).worker {
  display: flex;
  place-content: center space-evenly;
  flex-wrap: wrap;
  position: relative;
}
.supply:not(.board).worker .title,
.supply:not(.board).worker .total {
  position: absolute;
  bottom: 0;
}
.supply:not(.board).worker .title {
  right: 0;
}
.supply:not(.board).worker .total {
  left: 0;
}
.supply:not(.board).worker .worker {
  margin: 0.4rem;
}
.board.supply .supply:not(.board).worker {
  grid-area: 1 / 5 / 3 / 6;
}
.board.player .supply:not(.board).worker {
  grid-area: 1 / 3 / 2 / 7;
}

.action {
  position: relative;
}
.action .placement {
  width: 100%;
  height: 75%;
  display: flex;
  place-content: center space-evenly;
  place-items: center;
  flex-flow: row wrap;
  overflow: hidden;
}
.action .placement .space.worker {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.15rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  display: flex;
  place-content: center;
  place-items: center;
}
.action .title {
  width: 100%;
  height: 25%;
  font-size: 0.9rem;
  background: black;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
}
.action .players {
  position: absolute;
  left: 0;
  top: 0;
  color: lightgray;
  font-size: 0.65rem;
  padding: 0.25rem;
}
.action.face-down .front, .action.face-up .back, .action.face-up .players {
  display: none;
}
.action.face-down {
  background: rgba(0, 0, 0, 0.3);
}

.space.tile {
  display: flex;
  place-content: center;
  place-items: center;
  border: 0.1rem black dashed;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.item.tile {
  width: 4rem;
  height: 4rem;
  background: white;
  color: black;
  border: darkslategray 0.1rem solid;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  font-size: 1.0rem;
}
.item.tile .bolts::after {
  content: 'B';
  margin-left: 0.2rem;
}
.item.tile .circuits::after {
  content: 'C';
  margin-left: 0.2rem;
}
.item.tile .production,
.item.tile .production::before {
  margin-top: 0.2rem;
  font-size: 0.9rem;
}
.item.tile .production::before {
  content: '+';
}
.item.tile .bolts:empty::after,
.item.tile .circuits:empty::after,
.item.tile .production:empty::before {
  content: '-';
  color: transparent;
}
.item.tile .category {
  font-size: 2.5rem;
  text-transform: capitalize;
}
.item.tile.face-down .bolts, .item.tile.face-down .circuits, .item.tile.face-down .production, .item.tile.face-up .category {
  display: none;
}
.item.widget,
.item.material {
  font-size: 0.8rem;
  display: flex;
  color: black;
  border: 0.1rem black solid;
  place-content: center;
  place-items: center;
}
.item.value-1.widget,
.item.value-1.material {
  width: 1rem;
  height: 1rem;
  color: transparent;
}
.item.value-5.widget,
.item.value-5.material {
  width: 1.25rem;
  height: 1.25rem;
}
.item.value-10.widget,
.item.value-10.material {
  width: 1.4rem;
  height: 1.4rem;
}
.item.material {
  background: orange;
}
.item.widget {
  background: brown;
}
.item.coin {
  border-radius: 50%;
  background: gold;
  font-size: 0.8rem;
  display: flex;
  color: black;
  border: 0.1rem black solid;
  place-content: center;
  place-items: center;
}
.item.coin.value-1 {
  width: 1.75rem;
  height: 1.75rem;
  background: peru;
}
.item.coin.value-5 {
  width: 1.9rem;
  height: 1.9rem;
  background: sienna;
}
.item.coin.value-10 {
  width: 2.1rem;
  height: 2.1rem;
  background: silver;
}
.item.coin.value-25 {
  width: 2.5rem;
  height: 2.5rem;
  background: gold;
}
.item.worker {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: white;
  border: 0.1rem black solid;
}
.item.worker.trained {
  position: relative;
}
.item.worker.trained::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0.2rem gray solid;
  border-radius: 50%;
  opacity: 0.7;
}
.item.worker.player-1 {
  background: navy;
}
.item.worker.player-2 {
  background: darkgreen;
}
.item.worker.player-3 {
  background: maroon;
}
.item.worker.player-4 {
  background: goldenrod;
}
.item.worker.player-5 {
  background: orangered;
}
.item.worker.player-6 {
  background: purple;
}
.item.worker.player-7 {
  background: brown;
}
.item.worker.player-8 {
  background: gray;
}

.dragging-coin,
.dragging-material,
.dragging-widget,
.dragging-tile,
.dragging-worker {
  cursor: grabbing;
}
.dragging-coin div,
.dragging-material div,
.dragging-widget div,
.dragging-tile div,
.dragging-worker div {
  cursor: grabbing;
}

.dragging-coin .supply.coin:not(.dragging-from),
.dragging-material .supply.material:not(.dragging-from),
.dragging-widget .supply.widget:not(.dragging-from),
.dragging-tile .supply.tile:not(.dragging-from),
.dragging-worker .supply.worker:not(.dragging-from),
.dragging-coin .space.coin:not(.dragging-from),
.dragging-material .space.material:not(.dragging-from),
.dragging-widget .space.widget:not(.dragging-from),
.dragging-tile .space.tile:not(.dragging-from),
.dragging-worker .space.worker:not(.dragging-from) {
  outline: 0.3rem deeppink solid;
  outline-offset: -0.2rem;
  pointer-events: auto;
}
.dragging-coin .supply.coin:not(.dragging-from).dragging-over,
.dragging-material .supply.material:not(.dragging-from).dragging-over,
.dragging-widget .supply.widget:not(.dragging-from).dragging-over,
.dragging-tile .supply.tile:not(.dragging-from).dragging-over,
.dragging-worker .supply.worker:not(.dragging-from).dragging-over,
.dragging-coin .space.coin:not(.dragging-from).dragging-over,
.dragging-material .space.material:not(.dragging-from).dragging-over,
.dragging-widget .space.widget:not(.dragging-from).dragging-over,
.dragging-tile .space.tile:not(.dragging-from).dragging-over,
.dragging-worker .space.worker:not(.dragging-from).dragging-over {
  outline-style: dotted;
}

.draggable,
.clickable {
  pointer-events: auto;
  user-select: none;
}

.clickable {
  cursor: pointer;
}

.draggable {
  cursor: grab;
}

.dragging {
  opacity: 0.65;
  cursor: grabbing;
  z-index: 100;
}

#rules {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
  background-blend-mode: darken;
  background: rgba(125, 125, 125, 0.5);
  display: none;
  z-index: 200;
  place-content: center;
  place-items: center;
}
#rules > div {
  position: relative;
  width: 95vw;
  height: 95vh;
}
#rules #rules-container {
  padding: 1.5em;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: whitesmoke;
  box-shadow: 0 0.2em 0.25em 0.05em black;
}
#rules h1, #rules h2, #rules h3, #rules h4, #rules h5, #rules h6 {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}
#rules h1 {
  font-size: 2.5em;
}
#rules h2 {
  font-size: 2em;
}
#rules h3 {
  font-size: 1.75em;
}
#rules h4 {
  font-size: 1.5em;
}
#rules h5 {
  font-size: 1.25em;
}
#rules h6 {
  font-size: 1.1em;
}
#rules p {
  margin-bottom: 1.5em;
}
#rules li {
  margin-left: 1.3em;
}

#show-rules {
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 99;
}

#hide-rules {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  position: absolute;
  right: 1em;
  top: 0.25em;
  z-index: 99;
}

/*# sourceMappingURL=main.css.map */
