* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item.tile {
  width: 4rem;
  height: 4rem;
  background: white;
  color: black;
  border: darkslategray 0.1rem solid;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  font-size: 1.2rem;
}
.item.tile .bolts:after, .item.tile .circuits:after {
  margin-left: 0.2rem;
}
.item.tile .bolts:after {
  content: 'B';
}
.item.tile .circuits:after {
  content: 'C';
}
.item.tile .category {
  font-size: 2.5rem;
  text-transform: capitalize;
}
.item.tile.face-down .bolts, .item.tile.face-down .circuits, .item.tile.face-up .category {
  display: none;
}
.item.material, .item.widget {
  width: 1rem;
  height: 1rem;
  border: 0.1rem black solid;
  color: transparent;
}
.item.material {
  background: orange;
}
.item.widget {
  background: brown;
}
.item.coin {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: gold;
  font-size: 0.8rem;
  display: flex;
  color: black;
  border: 0.1rem black solid;
  place-content: center;
  place-items: center;
}
.item.coin.value-1 {
  width: 1.75rem;
  height: 1.75rem;
  background: peru;
}
.item.coin.value-5 {
  width: 1.9rem;
  height: 1.9rem;
  background: sienna;
}
.item.coin.value-10 {
  width: 2.1rem;
  height: 2.1rem;
  background: silver;
}
.item.coin.value-25 {
  width: 2.5rem;
  height: 2.5rem;
  background: gold;
}
.item.worker {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: white;
  border: 0.1rem black solid;
}
.item.worker.player-1 {
  background: navy;
}
.item.worker.player-2 {
  background: darkgreen;
}
.item.worker.player-3 {
  background: maroon;
}
.item.worker.player-4 {
  background: goldenrod;
}
.item.worker.player-5 {
  background: orangered;
}
.item.worker.player-6 {
  background: purple;
}
.item.worker.player-7 {
  background: brown;
}
.item.worker.player-8 {
  background: gray;
}

.dragging-coin,
.dragging-material,
.dragging-widget,
.dragging-tile,
.dragging-worker {
  cursor: grabbing;
}
.dragging-coin div,
.dragging-material div,
.dragging-widget div,
.dragging-tile div,
.dragging-worker div {
  cursor: grabbing;
}

.dragging-coin .supply.coin:not(.dragging-from),
.dragging-material .supply.material:not(.dragging-from),
.dragging-widget .supply.widget:not(.dragging-from),
.dragging-tile .supply.tile:not(.dragging-from),
.dragging-worker .supply.worker:not(.dragging-from),
.dragging-coin .space.coin:not(.dragging-from),
.dragging-material .space.material:not(.dragging-from),
.dragging-widget .space.widget:not(.dragging-from),
.dragging-tile .space.tile:not(.dragging-from),
.dragging-worker .space.worker:not(.dragging-from) {
  outline: 0.3rem deeppink solid;
  outline-offset: -0.2rem;
  pointer-events: auto;
}
.dragging-coin .supply.coin:not(.dragging-from).dragging-over,
.dragging-material .supply.material:not(.dragging-from).dragging-over,
.dragging-widget .supply.widget:not(.dragging-from).dragging-over,
.dragging-tile .supply.tile:not(.dragging-from).dragging-over,
.dragging-worker .supply.worker:not(.dragging-from).dragging-over,
.dragging-coin .space.coin:not(.dragging-from).dragging-over,
.dragging-material .space.material:not(.dragging-from).dragging-over,
.dragging-widget .space.widget:not(.dragging-from).dragging-over,
.dragging-tile .space.tile:not(.dragging-from).dragging-over,
.dragging-worker .space.worker:not(.dragging-from).dragging-over {
  outline-style: dotted;
}

[draggable] {
  pointer-events: auto;
  user-select: none;
  cursor: grab;
  z-index: 100;
}

.dragging {
  opacity: 0.65;
  cursor: grabbing;
}

#rules {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
  background-blend-mode: darken;
  background: rgba(125, 125, 125, 0.5);
  display: none;
  z-index: 200;
  place-content: center;
  place-items: center;
}
#rules > div {
  position: relative;
  width: 95vw;
  height: 95vh;
}
#rules #rules-container {
  padding: 1.5em;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: whitesmoke;
  box-shadow: 0 0.2em 0.25em 0.05em black;
}
#rules h1, #rules h2, #rules h3, #rules h4, #rules h5, #rules h6 {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
}
#rules h1 {
  font-size: 2.5em;
}
#rules h2 {
  font-size: 2em;
}
#rules h3 {
  font-size: 1.75em;
}
#rules h4 {
  font-size: 1.5em;
}
#rules h5 {
  font-size: 1.25em;
}
#rules h6 {
  font-size: 1.1em;
}
#rules p {
  margin-bottom: 1.5em;
}
#rules li {
  margin-left: 1.3em;
}

#show-rules {
  width: 6rem;
  height: 6rem;
  font-size: 4rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 99;
}

#hide-rules {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  position: absolute;
  right: 1em;
  top: 0.25em;
  z-index: 99;
}

/*# sourceMappingURL=main.css.map */
