$grid-gap: 0.3rem;
$supply-row-height: 6.5rem;
$supply-col-width: 7rem;
$action-row-height: $supply-row-height;
$action-col-width: $action-row-height;
$player-row-height: $action-row-height;
$player-col-width: $player-row-height;
$counter-row-height: $supply-row-height * 2 + $grid-gap;
$counter-col-width: 10rem;
.board {
    background: white;
    color: black;
    border: 0.25rem darkgray solid;
    margin: 0.3rem;
    padding: 1.5rem;
    display: grid;
    place-content: center;
    place-items: stretch;
    grid-gap: $grid-gap;
    box-sizing: content-box;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    &.player {
        grid: repeat(5, $player-row-height) / repeat(10, $player-col-width);
        > :first-child {
            grid-area: 1 / 1 / 2 / 2;
            display: flex;
            place-content: center;
            place-items: center;
            font-size: 2rem;
        }
        > .remove {
            font-size: 3rem;
            width: 4rem;
            height: 4rem;
            place-self: center;
            grid-area: 2 / 1 / 3 / 2;
        }
        &.player-1 { background: lightblue; }
        &.player-2 { background: lightgreen; }
        &.player-3 { background: salmon; }
        &.player-4 { background: lightyellow; }
        &.player-5 { background: lightsalmon; }
        &.player-6 { background: plum; }
        &.player-7 { background: tan; }
        &.player-8 { background: ivory; }
    }
    &.action {
        grid-template-rows: repeat(2, $action-row-height);
        grid-auto-columns: $action-col-width;
        grid-auto-flow: column;
        background: lightgray;
    }
    &.supply {
        grid: repeat(2, $supply-row-height) / repeat(6, $supply-col-width);
        background: lightslategray;
    }
    &.counter {
        grid: repeat(1, $counter-row-height) / repeat(1, $counter-col-width);
        background: slategray;
    }
    &.card {
        grid-template-areas: "title  title"
                             "flavor flavor"
                             "desc   action";
        grid-template-rows: 2rem 2.5rem $action-row-height;
        grid-template-columns: 10rem $action-col-width;
        grid-auto-rows: 0;
        place-items: center;
        background: lightsteelblue;
        & > .title {
            height: 100%;
            width: 100%;
            background: black;
            color: white;
            font-size: 1.1rem;
            display: flex;
            place-content: center;
            place-items: center;
            grid-area: title;
        }
        & > .flavor {
            text-align: center;
            grid-area: flavor;
        }
        & > .desc {
            grid-area: desc-start / desc-start / action-end / action-end;
            font-size: 0.8rem;
            text-align: center;
        }
        & > .action {
            width: $action-col-width;
            height: $action-row-height;
            grid-area: action;
            & ~ .desc {
                grid-area: desc;
            }
        }
    }
}
