.dragging-coin,
.dragging-material,
.dragging-widget,
.dragging-tile,
.dragging-worker {
    cursor: grabbing;
    div {
        cursor: grabbing;
    }
}

.dragging-coin .supply.coin,
.dragging-material .supply.material,
.dragging-widget .supply.widget,
.dragging-tile .supply.tile,
.dragging-worker .supply.worker,
.dragging-coin .space.coin,
.dragging-material .space.material,
.dragging-widget .space.widget,
.dragging-tile .space.tile,
.dragging-worker .space.worker {
    &:not(.dragging-from) {
        outline: 0.3rem deeppink solid;
        outline-offset: -0.2rem;
        pointer-events: auto;
        &.dragging-over {
            outline-style: dotted;
        }
    }
}

.draggable,
.clickable {
    pointer-events: auto;
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.65;
    cursor: grabbing;
    z-index: 100;
}