%draggable {
    pointer-events: auto;
}

.tile {
    @extend %draggable;
    width: 4rem;
    height: 4rem;
    background: white;
    color: black;
    border: darkslategray 0.1rem solid;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    font-size: 1.2rem;
    .bolts:after, .circuits:after {
        margin-left: 0.2rem;
    }
    .bolts:after {
        content: 'B';
    }
    .circuits:after {
        content: 'C';
    }
}

%cube {
    @extend %draggable;
    width: 1rem;
    height: 1rem;
    border: 0.1rem black solid;
}

.widget {
    @extend %cube;
    background: orange;
}

.material {
    @extend %cube;
    background: brown;
}

.coin {
    @extend %draggable;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: yellow;
    font-size: 0.8rem;
    display: flex;
    color: black;
    border: 0.1rem black solid;
    place-content: center;
    place-items: center;
}

.worker {
    @extend %draggable;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: white;
    border: 0.1rem black solid;
    &.player-1 { background: navy; }
    &.player-2 { background: darkgreen; }
    &.player-3 { background: maroon; }
    &.player-4 { background: goldenrod; }
    &.player-5 { background: orangered; }
    &.player-6 { background: purple; }
    &.player-7 { background: brown; }
    &.player-8 { background: gray; }
}

.dragging-coin,
.dragging-material,
.dragging-widget,
.dragging-tile,
.dragging-worker {
    cursor: grabbing;
    div {
        cursor: grabbing;
    }
}

.dragging-coin .coins,
.dragging-material .materials,
.dragging-widget .widgets,
.dragging-tile .tiles,
.dragging-worker .workers,
.dragging-coin .coin-space,
.dragging-material .material-space,
.dragging-widget .widget-space,
.dragging-tile .tile-space,
.dragging-worker .worker-space {
    &:not(.dragging-from) {
        outline: 0.3rem deeppink solid;
        outline-offset: -0.2rem;
        pointer-events: auto;
        &.dragging-over {
            outline-style: dotted;
        }
    }
}

[draggable] {
    user-select: none;
    cursor: grab;
    z-index: 100;
}

.dragging {
    opacity: 0.65;
    cursor: grabbing;
}