* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// body {
//     position: relative;
// }

@import 'table';
@import 'board';
@import 'supply';
@import 'space';
@import 'item';
@import 'draganddrop';

@import 'rules';
