* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// body {
//     position: relative;
// }

div::-webkit-scrollbar {
    height: 1px;
    &-thumb {
        background: lightslategray;
    }
}

@import 'table';
@import 'board';
@import 'supply';
@import 'space';
@import 'item';
@import 'draganddrop';

@import 'rules';
