.board {
    background: white;
    color: black;
    border: 0.25rem darkgray solid;
    margin: 0.3rem;
    padding: 0.2rem;
    display: grid;
    box-sizing: content-box;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    &.player {
        //width: 50rem;
        //height: 25rem;
        grid: repeat(5, 5rem) / repeat(10, 5rem);
        grid-gap: 0.3rem;
        place-content: center;
        place-items: stretch;
    }
    &.community {
        &.actions {
            grid: repeat(4, 6rem) / repeat(8, 6rem);
            grid-gap: 0.3rem;
            place-content: center;
            place-items: stretch;
        }
    }
    &.supply {

    }
    & > div {
        display: flex;
        place-content: center;
        place-items: center;
        font-size: 2rem;
        &.tile-space {
            border: 0.1rem black dashed;
            font-size: 1.35rem;
        }
        &.action-space {
            display: block;
            .placement {
                width: 100%;
                height: 75%;
                display: flex;
                place-content: center space-evenly;
                place-items: center;
                flex-flow: row wrap;
                overflow: hidden;
                .worker-space {
                    width: 1.5rem;
                    height: 1.5rem;
                    margin: 0.15rem;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.5);
                    font-size: 0.8rem;
                    display: flex;
                    place-content: center;
                    place-items: center;
                }
            }
            .title {
                width: 100%;
                height: 25%;
                font-size: 0.9rem;
                background: black;
                color: white;
                display: flex;
                place-content: center;
                place-items: center;
            }
        }
        &.supply-space {
            display: grid;
            grid-gap: 0;
            place-content: center;
            place-items: center;
            padding: 0.1rem;
            border: 0.1rem darkgray dashed;
            &.materials, &.widgets {
                grid: repeat(35, 0.1rem) 1rem / repeat(98, 0.1rem);
            }
            &.coins {
                grid: repeat(35, 0.1rem) 1rem / repeat(204, 0.1rem);
            }
            .title {
                font-size: 0.9rem;
                place-self: center;
                grid-area: -2 / 50 / -1 / -1;
            }
            .value {
                font-size: 0.9rem;
                place-self: center;
                grid-area: -2 / 1 / -1 / 50;
            }
            &.workers {
                display: flex;
                place-self: stretch;
                place-content: center space-evenly;
                .title, .value {
                    display: none;
                }
                .worker {
                    margin: 0.3rem;
                }
            }
        }
    }
    & > .label {
        grid-area: 1 / 1 / 2 / 2;
    }
    & > .remove {
        font-size: 3rem;
        width: 4rem;
        height: 4rem;
        place-self: center;
        grid-area: 2 / 1 / 3 / 2;
    }
}

#player-1 { background: lightblue; }
#player-2 { background: lightgreen; }
#player-3 { background: salmon; }
#player-4 { background: lightyellow; }
#player-5 { background: lightsalmon; }
#player-6 { background: plum; }
#player-7 { background: tan; }
#player-8 { background: ivory; }

#actions  { background: lightgray; }